GMAIL_EMAIL=yywls23@gmail.com
GMAIL_APP_PASSWORD=tqdq drxr seim peqz
IMAP_HOST=imap.gmail.com
IMAP_PORT=993

TARGET_SUBJECT=[업무 협조]

ATTACHMENT_DIR=data/attachments
OUTPUT_DIR=data/outputs
LOG_DIR=logs
GEMINI_API_KEY=AIzaSyAtwvCFjYm8wdU40Dx13sjN6zc0Qk5b9Og